/*main style*/
main {
   text-align: left;
   word-spacing: 5px;
   Padding: 50px;
   margin: 20px;
   font-size: smaller;
   font-size: 2vw;
   color: #1e1e1e;
   background-color: #888888;
   font-family: Helvetica;
}
/*header style*/
header {
   position: sticky;
   top: 0;
   text-align: left; 
   font-size: smaller;
   font-size: 2vw;
   Padding: 5px;
   margin: 2px;
   color: #1e1e1e;
   font-family: Helvetica;
}
/*body style*/
body {
   text-align: left;
   word-spacing: 30px;
   font-size:medium;
   font-size: 2vw;
   Padding: 50px;
   margin: 20px;
   background-color: #555555;
   font-family: Helvetica;
}
/*alert style*/
alert {
   text-align: left;
   word-spacing: 30px;
   margin-left: 5px;
   font-size:medium;
   font-size: 2vw;
   Padding: 50px;
   margin: 20px;
   background-color: #C22222;
   font-family: Helvetica;
}
   /*navigation bar button style*/
nav a {
   color: #FFFFFF;
   text-decoration: none;
   font-size: larger;
   font-size: 2vw;
}
   a:hover {
    color:#ff0000;
    text-shadow: 0 0 1vw white;
    text-
}
a {
   color: #ff0000;
}
.profile h1 {
   text-align: center;
   background-color: #111111;
   color: #FFFFFF;
   font-size: 2vw;
}
/*footer style*/
footer {
   text-align: left; 
   font-size: smaller;
   font-size: 2vw;
   Padding: 50px;
   margin: 20px;
   color: #1e1e1e;
   font-family: Helvetica;
}
article {
   text-align: left;
   margin-left: 5px;
   word-spacing: 5px;
   Padding: 50px;
   margin: 20px;
   font-size: smaller;
   font-size: 2vw;
   color: #1e1e1e;
   background-color: #CCCCC8;
   font-family: Helvetica;
}